# Q1 List and its default functions

In [1]:
lst = ["apple", "mango", "jerry", "pineapple"]

In [2]:
lst

['apple', 'mango', 'jerry', 'pineapple']

In [4]:
lst.append("banana")

In [5]:
lst

['apple', 'mango', 'jerry', 'pineapple', 'banana']

In [7]:
lst.index("jerry")

2

In [11]:
lst.remove("jerry")

In [12]:
lst

['banana', 'pineapple', 'mango', 'apple']

In [26]:
lst2 = ["9","8","7","6","4","3","1","7"]

In [27]:
lst2.count("7")

2

In [29]:
lst2.sort()

In [30]:
lst2

['1', '3', '4', '6', '7', '7', '8', '9']

# Q2 Dictionary and its default functions

In [31]:
dit = {"name":"Navin","age":"20","number":"123456789","email":"navinjethwani6@gmail.com"}

In [32]:
dit

{'name': 'Navin',
 'age': '20',
 'number': '123456789',
 'email': 'navinjethwani6@gmail.com'}

In [33]:
dit.get("name")

'Navin'

In [34]:
dit.items()

dict_items([('name', 'Navin'), ('age', '20'), ('number', '123456789'), ('email', 'navinjethwani6@gmail.com')])

In [35]:
dit.keys()

dict_keys(['name', 'age', 'number', 'email'])

In [36]:
dit.values()

dict_values(['Navin', '20', '123456789', 'navinjethwani6@gmail.com'])

In [41]:
del dit["number"]

In [42]:
dit

{'name': 'Navin', 'age': '20', 'email': 'navinjethwani6@gmail.com'}

In [45]:
dit2 = {"program":"Python essentials"}

In [46]:
dit.update(dit2)

In [47]:
dit

{'name': 'Navin',
 'age': '20',
 'email': 'navinjethwani6@gmail.com',
 'program': 'Python essentials'}

# Q3  Sets and its default functions

In [48]:
st = {"Navin","Jethwani",5,5,6,2,8,5,9,6,3,4,7}

In [49]:
st

{2, 3, 4, 5, 6, 7, 8, 9, 'Jethwani', 'Navin'}

In [51]:
st.add("hello")

In [52]:
st

{2, 3, 4, 5, 6, 7, 8, 9, 'Jethwani', 'Navin', 'hello'}

In [53]:
st.remove(8)

In [54]:
st

{2, 3, 4, 5, 6, 7, 9, 'Jethwani', 'Navin', 'hello'}

In [62]:
st2 = {"hello",5,9}

In [63]:
st.difference(st2)

{2, 3, 4, 6, 7, 'Jethwani', 'Navin'}

In [64]:
st.issuperset(st2)

True

In [65]:
st2.issubset(st)

True

In [67]:
st.union(st2)

{2, 3, 4, 5, 6, 7, 9, 'Jethwani', 'Navin', 'hello'}

#  Q4 Tupple and its default functions

In [72]:
tup = ("hii","there",4,9,"hii")

In [73]:
tup

('hii', 'there', 4, 9, 'hii')

In [74]:
tup.count("hii")

2

In [75]:
tup.index("hii")

0

In [76]:
tup[1:3]

('there', 4)

In [77]:
tup2 = (98756156)

In [79]:
tup2

98756156

In [80]:
del tup2

In [81]:
tup2

NameError: name 'tup2' is not defined

In [83]:
len (tup)

5

In [89]:
tup[2]

4

In [90]:
tup[2]*2

8

# Q5 Strings and its default values

In [96]:
string1 = "navin"

In [97]:
string2 = "jethwani"

In [98]:
string1.count("n")

2

In [99]:
string1.capitalize()

'Navin'

In [102]:
string1.endswith("a")

False

In [103]:
string1.()

False

In [104]:
string1.isalpha()

True

In [105]:
string1.find("a")

1

In [106]:
string1.startswith("n")

True